/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0; /* Reduce padding */
}

header .container {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px; /* Reduce padding */
}

header h1 {
  margin: 0;
  font-size: 28px; /* Decrease font size */
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

nav ul li {
  display: inline;
  margin-right: 15px; /* Reduce margin */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px; /* Decrease font size */
  transition: all 0.1s ease; /* Add transition for hover effect */
}

nav ul li a:hover {
  color: #ccc; /* Change color on hover */
  cursor: pointer; /* Add cursor pointer on hover */
}

.btn-containter-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  padding: 8px;
  background-color: white;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #2f64f7; /* Blue background color */
}

main .container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Semi-transparent white background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main .container h1 {
  color: #000; /* Black text color */
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0; /* Reduce padding */
  margin-bottom: 50px;
}

header h1 {
  margin: 0;
  font-size: 28px; /* Decrease font size */
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px; /* Reduce margin */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px; /* Decrease font size */
  transition: all 0.1s ease; /* Add transition for hover effect */
}

nav ul li a:hover {
  color: #ccc; /* Change color on hover */
  cursor: pointer; /* Add cursor pointer on hover */
}

button {
  padding: 10px 20px;
  background-color: #000; /* Black button background color */
  color: #fff; /* White button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

button:hover {
  background-color: gray; /* Darker color on hover */
}

/* Form styling */
form {
  margin-top: 20px; /* Add some space between the list and the form */
  margin-bottom: 20px;
  transition: opacity 0.1s ease-in-out;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  width: 100%;
}

/* Social media list styling */
h2 {
  margin-top: 20px; /* Add some space between the user information and the social media list */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

li button {
  background-color: #f44336; /* Red delete button background color */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.social-account {
  background-color: white;
  padding-left: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li button:hover {
  background-color: #d32f2f; /* Darker red color on hover */
}
button {
  height: 40px;
  background-color: #000; /* Black button background */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verifyBtn {
  background-color: green;
  width: 10vw;
  min-width: 100px;
  height: 8vh;
  font-size: 1.2rem;
  border: #000 solid 1px;
}

.verifyBtn:hover {
  background-color: darkgreen;
}

.social-selection option {
  /* Add your styles here */
  font-family: Arial, sans-serif; /* Example font family */
  font-size: 16px; /* Example font size */
  color: #333; /* Example text color */
  background-color: #fff; /* Example background color */
  padding: 8px 12px; /* Example padding */
  border: 1px solid #ccc; /* Example border */
  display: flex;
  justify-content: space-between;
}

/* Additional styles for hover and selected options */
.social-selection option:hover {
  background-color: #f0f0f0; /* Example hover background color */
}

.social-selection option:checked {
  background-color: #e0e0e0; /* Example selected background color */
}

.logo-container {
  display: inline-block; /* Logos displayed side-by-side */
  margin: 10px; /* Add some space between logos */
  text-align: center; /* Center text and logo vertically */
}

.logo-container img {
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
}

.user-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #007bff;
  font-size: 3.2rem;
  margin-bottom: 20px;
}
h2 {
  color: #007bff;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.6;
}

strong {
  font-weight: bold;
}
