<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verification Search</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='stylesheets/account_search.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="btn-containter-nav">
          <div>
            <h1>Home</h1>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/sign_up">Sign Up</a></li>
                <li><a id="profileLink" href="/">Profile</a></li>
                <li><a href="/check_username/">Search Profile</a></li>
              </ul>
            </nav>
          </div>
          <button class="logout-btn" onclick="logout(event)">Logout</button>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <h1>Search for an account</h1>
        <form>
          <input id="username" placeholder="Account Username" />
          <select name="social_media_platform" id="social_media_platform">
            <option value="default">Select a User</option>
            {% for option in ALLOWED_SOCIALS %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
          <button onclick="searchUser(event)">Search</button>
        </form>
      </div>
    </main>

    <script>
      function searchUser(event) {
        event.preventDefault();

        const searchData = {
          platform: document.getElementById("social_media_platform").value,
          username: document.getElementById("username").value,
        };

        fetch(
          `/api/search_account_verified/${searchData.username}/${searchData.platform}`,
          {
            method: "GET",
          }
        )
          .then((response) => response.json())
          .then((data) => {
            if (data.success === false) {
              alert("Issue verifying");
            } else {
              window.location.href = data.url;
            }
          });
      }
    </script>
    <script src="{{ url_for('static', filename='helpful.js') }}"></script>
  </body>
</html>
