<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='stylesheets/home.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="btn-containter-nav">
          <div>
            <h1>Home</h1>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/sign_up">Sign Up</a></li>
                <li><a id="profileLink" href="/">Profile</a></li>
                <li><a href="/check_username/">Search Profile</a></li>
              </ul>
            </nav>
          </div>
          <button class="logout-btn" onclick="logout(event)">Logout</button>
        </div>
      </div>
    </header>

    <section class="hero">
      <div class="container">
        <h2>Identity Solutions</h2>
        <p>Identity Solutions: Trust, Verify, Connect</p>
        <img
          src="{{ url_for('static', filename='IdentitySolutions.png') }}"
          alt="Feature 1"
        />
      </div>
    </section>

    <section class="features">
      <div class="container">
        <h2>About Us</h2>
        <div class="feature-item">
          <p>
            Welcome to Identity Solutions, where we believe in building trust
            one verification at a time. Our team is on a mission to make online
            interactions safer and more reliable for everyone. We're not just
            another tech company - we're your companions in navigating the
            digital world securely.
          </p>
        </div>
        <div class="feature-item">
          <h4>Our Approach</h4>
          <p>
            We understand that proving your identity online can be a hassle.
            That's why we've developed a user-friendly platform that makes it
            easy to verify who you are without compromising your privacy. By
            leveraging state-of-the-art technology, we ensure that your identity
            remains secure while providing the peace of mind that comes with
            knowing you're dealing with the real deal.
          </p>
        </div>
        <div class="feature-item">
          <h4>How It Works</h4>
          <p>
            Getting verified with Identity Solutions is simple. Just sign up,
            upload images of your ID, take a selfie, and let our system do the
            rest. Once verified, you can link your social media accounts to
            boost your credibility even further, and if you're looking to verify
            someone else's identity, our search feature makes it a breeze to
            find out if they're the real deal.
          </p>
        </div>
        <div class="feature-item">
          <h4>Get Verified Today</h4>
          <p>
            Join us at Identity Solutions and take control of your online
            identity. Whether you're a business looking for trustworthy
            connections or an individual wanting to establish credibility, we've
            got your back. Say goodbye to doubts and hello to peace of mind with
            Identity Solutions.
          </p>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&trade; 2024 Website Name. All rights reserved.</p>
      </div>
    </footer>
  </body>
  <script src="{{ url_for('static', filename='helpful.js') }}"></script>
</html>
