<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/login.css') }}" />
    <title>Login Page</title>
</head>
<body>
    <section>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    </section>
    <div class="signin">
        <div class="content">
            <h2>Sign In</h2>
            <div class="form">
                <div class="inputBox">
                  <input type="text" name="username" placeholder="Username" id="username" required>
                </div>
                <div class="inputBox">
                  <input type="password" name="password" placeholder="Password" id="password" required>
                </div>
                <div class="links">
                    <a href="/sign_up">Signup</a>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Login">
                </div>
            </div>
        </div>
    </div>
    <script>
        function submitForm(event) {
            event.preventDefault(); // Prevent form submission

            // Get form data
            const formData = {
                username: document.getElementById("username").value,
                password: document.getElementById("password").value,
            };

            // Send request
            fetch("/api/login/", {
                method: "POST",
                body: JSON.stringify(formData),
                headers: {
                    "Content-Type": "application/json",
                },
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success === false) {
                        alert("Incorrect info");
                    } else {
                        // Handle successful login
                        window.location.href = data.url;
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        }
    </script>
</body>
</html>



