<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='stylesheets/login.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="btn-containter-nav">
          <div>
            <h1>Home</h1>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/sign_up">Sign Up</a></li>
                <li><a id="profileLink" href="/">Profile</a></li>
                <li><a href="/check_username/">Search Profile</a></li>
              </ul>
            </nav>
          </div>
          <button class="logout-btn" onclick="logout(event)">Logout</button>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <form id="loginForm" onsubmit="submitForm(event)">
          <div class="form-group">
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Username"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              required
            />
          </div>
          <button class="submit-btn" type="submit" value="Login">Login</button>
        </form>
      </div>
    </main>

    <script>
      function submitForm(event) {
        event.preventDefault(); // Prevent form submission

        // Get form data
        const formData = {
          username: document.getElementById("username").value,
          password: document.getElementById("password").value,
        };

        // Send request
        fetch("/api/login/", {
          method: "POST",
          body: JSON.stringify(formData),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success === false) {
              alert("Incorrect info");
            } else {
              // Handle successful login
              window.location.href = data.url;
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
    <script src="{{ url_for('static', filename='helpful.js') }}"></script>
  </body>
</html>
