<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Your Identity</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='stylesheets/verify_user.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="btn-containter-nav">
          <div>
            <h1>Check User Identity</h1>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/sign_up">Sign Up</a></li>
                <li><a id="profileLink" href="/">Profile</a></li>
                <li><a href="/check_username/">Search Profile</a></li>
              </ul>
            </nav>
          </div>
          <button class="logout-btn" onclick="logout(event)">Logout</button>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="input-group-container">
          <div class="input-group">
            <label for="licenseInputBack"
              >Upload Back of Driver's License:</label
            >
            <input type="file" id="licenseInputBack" accept="image/*" />
          </div>
          <div class="input-group">
            <label for="licenseInputFront"
              >Upload Front of Driver's License:</label
            >
            <input type="file" id="licenseInputFront" accept="image/*" />
          </div>
        </div>
        <div class="video-container">
          <video id="videoElement" autoplay></video>
          <img id="capturedImage" class="captured-image" alt="Captured Image" />
        </div>
        <button
          class="capture-button"
          id="captureButton"
          onclick="captureFrame(event)"
        >
          Capture Selfie
        </button>
        <div class="button-group">
          <button id="retakeButton" onclick="retakePhoto(event)" disabled>
            Retake
          </button>
          <button id="submitButton" onclick="submitVerifyID(event)" disabled>
            Submit
          </button>
        </div>
      </div>
    </main>
    <script src="{{ url_for('static', filename='verify_id.js') }}"></script>
    <script src="{{ url_for('static', filename='helpful.js') }}"></script>
  </body>
</html>
